[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twikit = "*"
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tiktoken = "*"
protobuf = "*"
sentencepiece = "*"
flask = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.11"
